.home{
    width: 100%;
    flex-grow: 1;
    margin:20px 0;
}

.home-notloggin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    background-color: #fff5;
    padding: 20px;
}

.home-loggin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    background-color: #fff5;
    padding: 20px;
    max-width: 1200px!important;
}





.logo-homePage {
    animation: App-logo-spin infinite 5s linear;
    width: 50px;
    height: 60px;
    -webkit-animation: App-logo-spin infinite 5s linear;
}

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }