.Register-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  background-color: #fff5;
  padding: 20px;
  max-width: 1200px !important;
  min-height: 90vh;
}

.Register-main-content {
  margin: 20px 5px 50px 5px;
}

.register-form-main-container {
  width: 100% !important;
  margin: 15px 0 20px 0 !important;
}

.register-form-container {
  width: 100% !important;
}

.register-input {
  width: 100% !important;
}

.register-button {
  margin: 20px 0;
}

@media (min-width: 600px) {
  .register-form-main-container {
    width: 60% !important;
  }
}

@media (min-width: 959px) {
  .register-form-main-container {
    width: 40% !important;
  }
}
